@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --heading-font: 'Roboto', system-ui, sans-serif;
  --body-font: 'Roboto', system-ui, sans-serif;
}

body {
  font-family: var(--body-font);
}

.heading-font {
  font-family: var(--heading-font);
}

.bg-base-100 {
  background-color: #000000;
}


.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}